* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /*fazendo o rem se comportar como px*/
    scroll-behavior: smooth;
}

.pai {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

p {
    font-size: 1.6rem;
    padding-top: 5em;
    text-align: center;
}

nav {
    position: fixed;
    width: 100%;
    height: 58px;
    background-color: thistle;
    margin-bottom: 30px;
}

a {
    display: block;
    font-size: 2rem;
    text-decoration: none;
    margin-left: 50px;
    padding: 20px;
    font-weight: bold;
    display: inline-block;
}

a:active {
    background-color: rgba(0, 0, 0, 0.2);
    height: 58px;
}

a:visited{
    color: indigo;
}

#one {
    background-color: rgba(255, 255, 0, 0.737);
}

#two {
    background-color: rgba(64, 224, 208, 0.581);
}

#three {
    background-color: pink;
}

.title {
    font-weight: bold;
    font-size: 5rem;
    text-indent: 10px;
    text-shadow: 5px 3px 10px greenyellow;
    list-style-image: none;
    list-style-type: none;
    height: 10rem;
}

ul {
    text-transform: capitalize;
    font-size: 0.5rem;
    overflow-y: auto;
    margin: 50px;
    margin-top: 70px;
    padding: 30px;
    height: 690px;
}

li {
    list-style-image: url(icons8-pilar-grego-30.png);
    list-style-position: inside;
    line-height: 40px;
    letter-spacing: 2px;
    font-size: 3rem;
    padding: 40px 10px 10px 30px;
    margin-bottom: 20px;
}

ul li.sticky {
    position: sticky;
    background-color: darkgray;
    top: 0;
}



