@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #c5d86d, #22cab7) ;
}
h1 {
    color: #142168;
}
h1#principal {
    text-align: center;
    font-size: 3em;
    background-color: rgba(241, 116, 71, 0.466);
}
h2 {
    color: #522864;
}
.básico {
    color: darkviolet;
}
.intermediário {
    color: darkmagenta;
}
.avançado {
    color: indigo;
}
.destaque {
    background-color: rgba(47, 79, 79, 0.322)
}