@charset "UTF-8";
body {
    background-color: lightyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: black;
    background-color: darkkhaki;
}
h2 {
    color:rgb(65, 79, 94);
    text-decoration: underline;
}
p {
    text-align: justify;
}